body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
/* styles.css */

/* styles.css */
.button {
    width: 110px;
    padding: 32px 16px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #e70f0f; /* Green */
    border-radius: 12px;
  }
  
  .button:hover {
    background-color: #04aa6d00; /* Green */
    color: rgb(8, 0, 0);
  }
  
.container {
    max-width: 2000px;
    margin: 0 ;
    padding: 20px;
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow flex items to wrap */
    justify-content: flex-start; /* Align items to the start */
}

.weather-card {
    background-color: #fff;
    padding: 10px; /* Reduce padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 0 0 calc(20% - 20px); /* Calculate width based on 3 cards per row */
}

.hourly-forecast-item {
    flex: 0 0 calc(20% - 10px); /* Adjust width */
    text-align: center;
    padding: 5px; /* Reduce padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px; /* Add margin */
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.hourly-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
